<head>





    <style>

    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

    @import url("https://fonts.googleapis.com/css?family=Oswald&display=swap"); 
    @import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

    @import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Pacifico&display=swap");

    body {
          padding: 0 1rem;
          /*font-family: 'Oswald', sans-serif;*/
          /*font-family: 'Share Tech Mono', monospace;*/
          /*font-family: 'Abel', sans-serif;*/
          font-family: 'Exo 2', sans-serif;
          
          font-size:1.2em;
          transition: .5s
    }

    #container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-color: #3DCBB5;
    }

    #triangle-topleft {
      width: 0;
      height: 0;
      border-top: 584px solid #8c0808;
      border-right: 1000px solid transparent;
    }

    #triangle-corner {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 268px solid #3DCBB5;
      border-right: 501px solid transparent;
    }

    #menudiv{
      position: absolute;
      top: 6px;
      right: 40px;
      border-top: 20px;
      border-right: 20px;
      font-size: 1em;
    }


    #titlediv{
      position: absolute;
      top: -40px;
      left: 80px;
      border-top: 20px;
      border-right: 20px;
      font-size: 3em;
    }


</style>
</head>

<body>

<div id="container">

  <div id="triangle-corner">  </div>
  <div id="triangle-topleft"></div>

    <div id="menudiv">
        <h4>MENU</h4>
    </div>
    <div id="titlediv">
        <h1>CORDATR</h1>
        <h4>ARTIFICIAL INGREDIENTS</h4>
    </div>

</div>

</body>
